  async {{METHOD_NAME}}(
    args: Methods['{{METHOD_NAME}}']['argsObj'],
    extraMethodCallArgs?: ExtraMethodCallArgs,
    extraSimulateArgs?: RawSimulateOptions,
  ): Promise<Methods['{{METHOD_NAME}}']['returns'][]> {
    const { transactions } = await this.factory.createTransaction.create.{{METHOD_NAME}}({
      args,
      ...extraMethodCallArgs,
    })
    return this.execute({
      transactions,
      signature: '{{METHOD_SIGNATURE}}',
      extraSimulateArgs,
    })
  }
